DATA ACQUISITION

In [ ]:
# Exp No:1

In [1]:
# Aim: To perfrom the operation  of data acquisition

In [2]:
# Name:Sujal Ramesh Lothe
# Roll No:39

In [4]:
# Section:B

In [2]:
# importing the basic libary.
import pandas as pd

In [3]:
import os

In [4]:
os.getcwd()

'C:\\Users\\bhush'

In [5]:
os.chdir('C:\\Users\\bhush\\OneDrive\\Desktop')

In [6]:
df=pd.read_csv("C:\\Users\\bhush\\OneDrive\\Desktop\\diabetes.csv.csv")

In [7]:
df.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
8,2,197,70,45,543,30.5,0.158,53,1
9,8,125,96,0,0,0.0,0.232,54,1

In [8]:
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [9]:
df.shape

(768, 9)

In [10]:
df.size

6912

In [14]:
df.ndim

2

In [15]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')